.container {
  padding: 1rem;
  display: flex;
}

.container:hover {
  background-color: #dedede;
}

.summaryImg {
  /* max-width: 200px;
  max-height: 100px;; */
  margin-right: 1rem;
}

.title {
  margin: 0px;
  padding: 0px;
  font-size: 1.5rem;;
}