.bestEfforts {
  grid-area: bestEfforts;
}

.container {
  padding: 1rem;
  display: flex;
}

.zonesWidth {
  grid-area: zonesWidth;
}

.stats {
  grid-area: stats;
}

.gridImage {
  grid-area: image;
}

.gridTitle {
  grid-area: title;
}