@import './base.scss';
@import './theme.module.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background);
  color: var(--color-text);
}

textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

abbr {
  font-size: smaller;
}

table,
td,
th {
  border-collapse: collapse;
}

td,
th {
  padding: 0.5rem;
}

input,
select {
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 0.2rem;
  color: var(--color-text);
  background-color: var(--color-background);
}

label {
  font-size: 0.8rem;
}

button {
  padding: calc(var(--space-unit) * 2);
  border: 1px solid black;
  border-radius: calc(var(--space-unit) * 2);
  font-weight: bolder;
  cursor: pointer;
  background-color: var(--color-neutral-900);
  color: var(--color-neutral-50);
}

@media (prefers-color-scheme: dark) {
  button {
    background-color: var(--color-neutral-900);
    color: var(--color-neutral-50);
  }
}

.btn {
  padding: 0.25rem 0.5rem;
  /* border: 1px solid black; */
  background-color: azure;
  border-radius: 0.5rem;
  font-weight: bolder;
  cursor: pointer;
  text-align: center;
  display: inline-block;
}

a.btn {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* button with onclick prop */
button:active {
  background-color: #e0eeee;
  cursor: pointer;
}

.quiet-input {
  border: 1px solid transparent;
  background-color: transparent;
}

.quiet-input:hover {
  border: 1px solid #444;
}

.img {
  border-radius: 1rem;
}

.border-radius-1 {
  border-radius: 1rem;
  overflow: hidden;
}

.border {
  border: 1px solid #ddd;
}

.border-b {
  border-bottom: 1px solid #ddd;
}

.border-1 {
  border: 1px solid #ddd;
}

.border-2 {
  border: 2px solid #ddd;
}

.border-3 {
  border: 3px solid #ddd;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

@for $i from 0 through 12 {
  .top-#{$i} {
    top: calc(var(--space-unit) * #{$i}) !important;
  }
  .bottom-#{$i} {
    bottom: calc(var(--space-unit) * #{$i}) !important;
  }
  .left-#{$i} {
    left: calc(var(--space-unit) * #{$i}) !important;
  }
  .right-#{$i} {
    right: calc(var(--space-unit) * #{$i}) !important;
  }
  .m-#{$i} {
    margin: calc(var(--space-unit) * #{$i}) !important;
  }
  .mt-#{$i} {
    margin-top: calc(var(--space-unit) * #{$i}) !important;
  }
  .ml-#{$i} {
    margin-left: calc(var(--space-unit) * #{$i}) !important;
  }
  .mr-#{$i} {
    margin-right: calc(var(--space-unit) * #{$i}) !important;
  }
  .mb-#{$i} {
    margin-bottom: calc(var(--space-unit) * #{$i}) !important;
  }
  .mx-#{$i} {
    margin-left: calc(var(--space-unit) * #{$i}) !important;
    margin-right: calc(var(--space-unit) * #{$i}) !important;
  }
  .my-#{$i} {
    margin-top: calc(var(--space-unit) * #{$i}) !important;
    margin-bottom: calc(var(--space-unit) * #{$i}) !important;
  }
  .p-#{$i} {
    padding: calc(var(--space-unit) * #{$i}) !important;
  }
  .pt-#{$i} {
    padding-top: calc(var(--space-unit) * #{$i}) !important;
  }
  .pl-#{$i} {
    padding-left: calc(var(--space-unit) * #{$i}) !important;
  }
  .pr-#{$i} {
    padding-right: calc(var(--space-unit) * #{$i}) !important;
  }
  .pb-#{$i} {
    padding-bottom: calc(var(--space-unit) * #{$i}) !important;
  }
  .px-#{$i} {
    padding-left: calc(var(--space-unit) * #{$i}) !important;
    padding-right: calc(var(--space-unit) * #{$i}) !important;
  }
  .py-#{$i} {
    padding-top: calc(var(--space-unit) * #{$i}) !important;
    padding-bottom: calc(var(--space-unit) * #{$i}) !important;
  }
  .gap-#{$i} {
    gap: calc(var(--space-unit) * #{$i}) !important;
  }
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none;
}

.sticky {
  position: sticky;
}

.gap {
  gap: calc(var(--space-unit) * 4);
}

.width-full {
  width: 100%;
}

.full-height {
  height: 100%;
}

.h-full {
  height: 100%;
}

hr {
  border: 0;
  border-top: 1px solid var(--color-text);
}

.flex {
  display: flex;
}

.flex-even>* {
  flex: 1 1 1fr;
}

.flex-item-grow {
  flex-grow: 1;
}

.flex-item-shrink {
  flex-shrink: 1;
}

.flex-align-center {
  align-items: center;
}

.items-center {
  align-items: center;
}

.flex-align-end {
  align-items: flex-end;
}

.align-end {
  align-items: flex-end;
}

.flex-column {
  flex-direction: column;
}

.flex-col {
  flex-direction: column;
}

.flex-justify-between {
  justify-content: space-between;
}

.justify-between {
  justify-content: space-between;
}

.flex-justify-center {
  justify-content: center;
}

.justify-center {
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.heading-1 {
  font-size: 2rem;
  font-weight: bold;
}

.heading-2 {
  font-size: 1.8rem;
  font-weight: bold;
}

.heading-3 {
  font-size: 1.6rem;
  font-weight: bold;
}

.heading-4 {
  font-size: 1.4rem;
  font-weight: bold;
}

.heading-5 {
  font-size: 1.2rem;
  font-weight: bold;
}

.heading-6 {
  font-size: 1rem;
  font-weight: bold;
}

.height-4rem {
  height: 4rem;
}

.display-none {
  display: none !important;
}

.fill-click {
  ::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

label:has(> input) {
  cursor: pointer;
}

label:has(> input):hover {
  background-color: azure;
}

[role="button"] {
  cursor: pointer;
}

/* [role="button"]:hover {
  background-color: azure;
} */

input[type="range"] {
  width: 100%;
  cursor: pointer;
  appearance: none;
  height: 0.1rem;
  border-radius: 0.2rem;
  border-color: #d3d3d3;
  padding-left: 0;
  padding-right: 0;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 2rem;
  border-radius: 0.5rem;
  background: red;
  cursor: pointer;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}

.display-block {
  display: block;
}

.valign-middle {
  display: flex;
  align-items: center;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.overflow-x-scroll>* {
  flex-shrink: 0;
}

.dls-white-bg {
  background-color: var(--color-foreground);
}

.dls-black-bg {
  background-color: black !important;
}

.dls-yellow-bg-faint {
  background-color: #FFFFE0;
}

.dls-gold {
  color: #ffd700 !important;
}

.dls-dark-gold {
  color: #B8860B !important;
}

.dls-star-bg {
  background-repeat: no-repeat;
}

.dls-blue {
  color: var(--dls-blue) !important;
}

.dls-blue-bg {
  background-color: var(--dls-blue) !important;
}

.dls-sunshine-bg {
  background: linear-gradient(to bottom right, #FFFFE0, transparent 50%), linear-gradient(to bottom left, skyblue, transparent 50%);
  background-repeat: no-repeat;
}

.dls-overcast-bg {
  background: linear-gradient(to bottom right, #708090, transparent 50%);
  background-repeat: no-repeat;
}

.dls-mostly-cloudy-bg {
  background: linear-gradient(to bottom right, #A9A9A9, transparent 50%), linear-gradient(to bottom left, skyblue, transparent 25%);
  /* dark gray */
  background-repeat: no-repeat;
}

.dls-partly-cloudy-bg {
  background: linear-gradient(to bottom right, #D3D3D3, transparent 50%), linear-gradient(to bottom left, skyblue, transparent 50%);
  /* light gray */
  background-repeat: no-repeat;
}

.dls-highlighted-bg {
  background-color: #FFFF00 !important;
}

.shine {
  --backgroundColor: #eee;
  --shimmerColor: rgba(0, 0, 0, 0.2);
  --duration: 1200ms;

  background: var(--backgroundColor);
  background-image: linear-gradient(to right, var(--backgroundColor) 0%, var(--shimmerColor) 20%, var(--backgroundColor) 40%, var(--backgroundColor) 100%);
  background-repeat: no-repeat;
  background-size: 1000px 100%;
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  animation-duration: var(--duration);
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeholderShimmer;
  animation-timing-function: linear;
  z-index: 1000;
  overflow: hidden;
  /* -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards; 
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeholderShimmer;
  -webkit-animation-timing-function: linear; */
}

@keyframes placeholderShimmer {
  0% {
    background-position: -1000px 0;
  }

  100% {
    background-position: 1000px 0;
  }
}

*:has(.shine) {
  position: relative !important;
}

/* HEART RATE ZONE CLASSES */
.hr-zone-1-bg {
  --bgColor: var(--hrZone1);
  background-color: color-mix(in srgb, var(--hrZone1) 90%, black 10%) !important;
}

.hr-zone-2-bg {
  --bgColor: var(--hrZone2);
  background-color: color-mix(in srgb, var(--hrZone2) 90%, black 10%) !important;
}

.hr-zone-3-bg {
  --bgColor: var(--hrZone3);
  background-color: color-mix(in srgb, var(--hrZone3) 90%, black 10%) !important;
}

.hr-zone-4-bg {
  --bgColor: var(--hrZone4);
  background-color: color-mix(in srgb, var(--hrZone4) 90%, black 10%) !important;
}

.hr-zone-5-bg {
  --bgColor: var(--hrZone5);
  background-color: color-mix(in srgb, var(--hrZone5) 90%, black 10%) !important;
}
.hr-zone-1-bg-light {
  --bgColor: color-mix(in srgb, var(--hrZone1) 30%, transparent 70%);
  background-color: color-mix(in srgb, var(--hrZone1) 30%, transparent 70%) !important;
}

.hr-zone-2-bg-light {
  --bgColor: color-mix(in srgb, var(--hrZone2) 30%, transparent 70%);
  background-color: color-mix(in srgb, var(--hrZone2) 30%, transparent 70%) !important;
}

.hr-zone-3-bg-light {
  --bgColor: color-mix(in srgb, var(--hrZone3) 30%, transparent 70%);
  background-color: color-mix(in srgb, var(--hrZone3) 30%, transparent 70%) !important;
}

.hr-zone-4-bg-light {
  --bgColor: color-mix(in srgb, var(--hrZone4) 30%, transparent 70%);
  background-color: color-mix(in srgb, var(--hrZone4) 30%, transparent 70%) !important;
}

.hr-zone-5-bg-light {
  --bgColor: color-mix(in srgb, var(--hrZone5) 30%, transparent 70%);
  background-color: color-mix(in srgb, var(--hrZone5) 30%, transparent 70%) !important;
}

.hr-zone-1-text {
  color: color-mix(in srgb, var(--hrZone1) 30%, black 70%) !important;
}

.hr-zone-2-text {
  color: color-mix(in srgb, var(--hrZone2) 30%, black 70%) !important;
}

.hr-zone-3-text {
  color: color-mix(in srgb, var(--hrZone3) 30%, black 70%) !important;
}

.hr-zone-4-text {
  color: color-mix(in srgb, var(--hrZone4) 30%, black 70%) !important;
}

.hr-zone-5-text {
  color: color-mix(in srgb, var(--hrZone5) 30%, black 70%) !important;
}

.hr-zone-1-border {
  border: 1px solid color-mix(in srgb, var(--hrZone1) 70%, black 30%) !important;
}

.hr-zone-2-border {
  border: 1px solid color-mix(in srgb, var(--hrZone2) 70%, black 30%) !important;
}

.hr-zone-3-border {
  border: 1px solid color-mix(in srgb, var(--hrZone3) 70%, black 30%) !important;
}

.hr-zone-4-border {
  border: 1px solid color-mix(in srgb, var(--hrZone4) 70%, black 30%) !important;
}

.hr-zone-5-border {
  border: 1px solid color-mix(in srgb, var(--hrZone5) 70%, black 30%) !important;
}

/* END HEART RATE ZONE CLASSES */

/* PERSONAL RECORD CLASSES */
.gold-bg {
  background-color: rgba(255, 215, 0, 0.9) !important;
}

.gold-text {
  color: rgba(205, 165, 0, 1) !important;
}

.silver-bg {
  background-color: rgba(192, 192, 192, 0.9) !important;
}

.silver-text {
  color: rgba(142, 142, 142, 1) !important;
}

.bronze-bg {
  background-color: rgba(214, 147, 79, 0.9) !important;
}

.bronze-text {
  color: rgba(155, 77, 0, 1) !important;
}

/* END PERSONAL RECORD CLASSES */


.animated-line {
  stroke-dasharray: 0.0004;
  stroke-dashoffset: 0.01;
  animation-name: dash;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.animate-fast {
  animation-duration: 2s;
}

.animate-slow {
  stroke-dasharray: 0.00025;
  animation-duration: 4.8s;
}

@keyframes dash {
  from {
    stroke-dashoffset: 0.004;
  }

  to {
    stroke-dashoffset: 0;
  }
}

.grid {
  display: grid;
}

.grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid-2-rows {
  grid-template-rows: repeat(2, 1fr);
}

.grid-3-rows {
  grid-template-rows: repeat(3, 1fr);
}

.grid-4-rows {
  grid-template-rows: repeat(4, 1fr);
}

.grid-area-header {
  grid-area: header;
}

.grid-area-main {
  grid-area: main;
}

.grid-area-sidebar {
  grid-area: sidebar;
}

.grid-area-footer {
  grid-area: footer;
}

.grid-area-image {
  grid-area: image;
}

.grid-area-title {
  grid-area: title;
}

.grid-area-a1 {
  grid-area: a1;
}

.grid-area-a2 {
  grid-area: a2;
}

.grid-area-a3 {
  grid-area: a3;
}

.grid-area-a4 {
  grid-area: a4;
}

.grid-area-a5 {
  grid-area: a5;
}

.grid-area-a6 {
  grid-area: a6;
}

.grid-area-a7 {
  grid-area: a7;
}

.grid-area-a8 {
  grid-area: a8;
}

.grid-area-a9 {
  grid-area: a9;
}

.grid-area-a10 {
  grid-area: a10;
}

.bg-primary {
  background-color: #007bff;
}

.bg-secondary {
  background-color: #6c757d;
}

.bg-foreground {
  --bgColor: var(--color-foreground);
  background-color: var(--color-foreground);
}
.bg-base {
  background-color: var(--color-base);
}

.bg-success {
  background-color: #28a745;
}

.bg-danger {
  background-color: #dc3545;
}

.bg-warning {
  background-color: #ffc107;
}

.bg-info {
  background-color: #17a2b8;
}

.bg-light {
  background-color: #f8f9fa;
}

.bg-dark {
  background-color: #343a40;
}

.text-primary {
  color: #007bff;
}

.text-secondary {
  color: #6c757d;
}

.text-success {
  color: #28a745;
}

.text-danger {
  color: #dc3545;
}

.text-warning {
  color: #ffc107;
}

.text-info {
  color: #17a2b8;
}

.text-light {
  color: #f8f9fa;
}

.text-dark {
  color: #343a40;
}

.text-body {
  font-size: 1rem;
}

.text-h1 {
  font-size: 2rem;
  font-weight: bold;
}

.text-h2 {
  font-size: 1.8rem;
  font-weight: bold;
}

.text-h3 {
  font-size: 1.6rem;
  font-weight: bold;
}

.text-h4 {
  font-size: 1.4rem;
  font-weight: bold;
}

.text-h5 {
  font-size: 1.2rem;
  font-weight: bold;
}

.text-h6 {
  font-size: 1rem;
  font-weight: bold;
}

.text-sm {
  font-size: 0.8rem;
}

.text-xs {
  font-size: 0.6rem;
}

.text-xxs {
  font-size: 0.4rem;
}

.text-no-wrap {
  white-space: nowrap;
}
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card {
  border-radius: var(--space-unit);
  // box-shadow: var(--box-shadow);
  overflow: hidden;
}

.elevation-1 {
  box-shadow: 0rem 1px 3px rgba(0, 0, 0, 0.12), 0rem 1px 2px rgba(0, 0, 0, 0.24);
}

.elevation-2 {
  box-shadow: 0rem 3px 6px rgba(0, 0, 0, 0.15), 0rem 2px 4px rgba(0, 0, 0, 0.12);
}

.elevation-3 {
  box-shadow: 0rem 10px 20px rgba(0, 0, 0, 0.15), 0rem 3px 6px rgba(0, 0, 0, 0.10);
}

.elevation-4 {
  box-shadow: 0rem 15px 25px rgba(0, 0, 0, 0.15), 0rem 5px 6px rgba(0, 0, 0, 0.05);
}

.elevation-5 {
  box-shadow: 0rem 20px 40px rgba(0, 0, 0, 0.2);
}

@media (prefers-color-scheme: dark) {
  .elevation-1 {
    box-shadow: 0rem 1px 3px rgba(0, 0, 0, 0.88), 0rem 1px 2px rgba(0, 0, 0, 1);
  }

  .elevation-2 {
    box-shadow: 0rem 3px 6px rgba(0, 0, 0, 0.88), 0rem 2px 4px rgba(0, 0, 0, 1);
  }

  .elevation-3 {
    box-shadow: 0rem 10px 20px rgba(0, 0, 0, 0.88), 0rem 3px 6px rgba(0, 0, 0, 1);
  }

  .elevation-4 {
    box-shadow: 0rem 15px 25px rgba(0, 0, 0, 0.88), 0rem 5px 6px rgba(0, 0, 0, 1);
  }

  .elevation-5 {
    box-shadow: 0rem 20px 40px rgba(0, 0, 0, 0.88);
  }
}

.raised-1 {
  box-shadow: inset 0 2px color-mix(in srgb, var(--bgColor) 50%, white 30%), inset 0 -2px  color-mix(in srgb, var(--bgColor) 50%, black 20%);
  background: linear-gradient(to bottom, color-mix(in srgb, var(--bgColor) 90%, white 5%), color-mix(in srgb, var(--bgColor) 90%, black 10%));
}

.raised-2 {
  box-shadow: inset 0 3px color-mix(in srgb, var(--bgColor) 50%, white 30%), inset 0 -3px  color-mix(in srgb, var(--bgColor) 50%, black 20%);
  background: linear-gradient(to bottom, color-mix(in srgb, var(--bgColor) 90%, white 5%), color-mix(in srgb, var(--bgColor) 90%, black 10%));
}

.raised-3 {
  box-shadow: inset 0 4px color-mix(in srgb, var(--bgColor) 50%, white 30%), inset 0 -4px  color-mix(in srgb, var(--bgColor) 50%, black 20%);
  background: linear-gradient(to bottom, color-mix(in srgb, var(--bgColor) 90%, white 5%), color-mix(in srgb, var(--bgColor) 90%, black 10%));
}

.raised-4 {
  box-shadow: inset 0 5px color-mix(in srgb, var(--bgColor) 50%, white 30%), inset 0 -5px  color-mix(in srgb, var(--bgColor) 50%, black 20%);
  background: linear-gradient(to bottom, color-mix(in srgb, var(--bgColor) 90%, white 5%), color-mix(in srgb, var(--bgColor) 90%, black 10%));
}

.raised-5 {
  box-shadow: inset 0 6px color-mix(in srgb, var(--bgColor) 50%, white 30%), inset 0 -6px  color-mix(in srgb, var(--bgColor) 50%, black 20%);
  background: linear-gradient(to bottom, color-mix(in srgb, var(--bgColor) 90%, white 5%), color-mix(in srgb, var(--bgColor) 90%, black 10%));
}

.sunken-1 {
  box-shadow: inset 0 2px  color-mix(in srgb, var(--bgColor) 50%, black 20%), inset 0 -2px color-mix(in srgb, var(--bgColor) 50%, white 30%);
  // background: linear-gradient(to bottom, color-mix(in srgb, var(--bgColor) 90%, black 10%), color-mix(in srgb, var(--bgColor) 90%, white 5%));
  background: color-mix(in srgb, var(--bgColor) 80%, black 30%) !important;
}

.sunken-2 {
  box-shadow: inset 0 3px  color-mix(in srgb, var(--bgColor) 50%, black 20%), inset 0 -3px color-mix(in srgb, var(--bgColor) 50%, white 30%);
  // background: linear-gradient(to bottom, color-mix(in srgb, var(--bgColor) 90%, black 10%), color-mix(in srgb, var(--bgColor) 90%, white 5%));
  background: color-mix(in srgb, var(--bgColor) 80%, black 30%) !important;
}

.sunken-3 {
  box-shadow: inset 0 4px  color-mix(in srgb, var(--bgColor) 50%, black 20%), inset 0 -4px color-mix(in srgb, var(--bgColor) 50%, white 30%);
  // background: linear-gradient(to bottom, color-mix(in srgb, var(--bgColor) 90%, black 10%), color-mix(in srgb, var(--bgColor) 90%, white 5%));
  background: color-mix(in srgb, var(--bgColor) 80%, black 30%) !important;
}

.sunken-4 {
  box-shadow: inset 0 5px  color-mix(in srgb, var(--bgColor) 50%, black 20%), inset 0 -5px color-mix(in srgb, var(--bgColor) 50%, white 30%);
  // background: linear-gradient(to bottom, color-mix(in srgb, var(--bgColor) 90%, black 10%), color-mix(in srgb, var(--bgColor) 90%, white 10%));
  background: color-mix(in srgb, var(--bgColor) 80%, black 30%) !important;
}

.sunken-5 {
  box-shadow: inset 0 6px  color-mix(in srgb, var(--bgColor) 50%, black 20%), inset 0 -6px color-mix(in srgb, var(--bgColor) 50%, white 30%);
  // background: linear-gradient(to bottom, color-mix(in srgb, var(--bgColor) 90%, black 10%), color-mix(in srgb, var(--bgColor) 90%, white 5%));
  background: color-mix(in srgb, var(--bgColor) 80%, black 30%) !important;
}

a {
  color: var(--dls-blue);
}

.width-50 {
  width: 50%;
}