body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f0f0;
}

textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
abbr {
  font-size: smaller;
}
table, td, th {
  border-collapse: collapse;
  border: 1px solid black;
  border: 1px solid;
}

td, th {
  padding: 0.5rem;
}

input, select {
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 0.2rem;
}

label {
  font-size: 0.8rem;
}

button {
  padding: 0.5rem;
  border: 1px solid black;
  background-color: azure;
  border-radius: 0.5rem;
  font-weight: bolder;
  cursor: pointer;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* button with onclick prop */
button:active {
  background-color: #e0eeee;
  cursor: pointer;
}
.quiet-input {
  border: 1px solid transparent;
  background-color: transparent;
}
.quiet-input:hover {
  border: 1px solid #444;
}

.card {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  padding: 1rem;
}
.img {
  border-radius: 1rem;
}
.border-radius-1 {
  border-radius: 1rem;
  overflow: hidden;
}
.border {
  border: 1px solid #ddd;
}
.border-b {
  border-bottom: 1px solid #ddd;
}
.border-1 {
  border: 1px solid #ddd;
}
.border-2 {
  border: 2px solid #ddd;
}
.border-3 {
  border: 3px solid #ddd;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.margin-t {
  margin-top: 1rem;
}
.margin-2-t {
  margin-top: 2rem;
}
.margin-3-t {
  margin-top: 3rem;
}
.margin-tb {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.margin-b {
  margin-bottom: 1rem;
}
.margin-l {
  margin-left: 1rem;
}
.margin-r {
  margin-right: 1rem;
}
.margin-lr {
  margin-left: 1rem;
  margin-right: 1rem;
}
.pad {
  padding: 1rem;
}
.pad-compact {
  padding: 0.5rem;
}
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none;
}
.pad-t {
  padding-top: 1rem;
}
.pad-tb {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.pad-b {
  margin-bottom: 1rem;
}
.gap {
  gap: 1rem;
}
.fullwidth {
  width: 100%;
}
.full-width {
  width: 100%;
}
.flex {
  display: flex;
}
.flex-even > * {
  flex: 1;
}
.flex-item-grow {
  flex-grow: 1;
}
.flex-align-center {
  align-items: center;
}
.flex-column {
  flex-direction: column;
}
.flex-justify-between {
  justify-content: space-between;
}
.flex-justify-center {
  justify-content: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.heading-1 {
  font-size: 2rem;
  font-weight: bold;
}
.heading-2 {
  font-size: 1.8rem;
  font-weight: bold;
}
.heading-3 {
  font-size: 1.6rem;
  font-weight: bold;
}
.heading-4 {
  font-size: 1.4rem;
  font-weight: bold;
}
.heading-5 {
  font-size: 1.2rem;
  font-weight: bold;
}
.heading-6 {
  font-size: 1rem;
  font-weight: bold;
}
.display-none {
  display: none !important;
}
.fill-click {
  ::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}
label:has(> input) {
  cursor: pointer;
}
label:has(> input):hover {
  background-color: azure;
}
[role="button"] {
  cursor: pointer;
}
[role="button"]:hover {
  background-color: azure;
}
.display-block {
  display: block;
}


.dls-white-bg {
  background-color: white;
}
.dls-yellow-bg-faint {
  background-color: #FFFFE0;
}
.dls-gold {
  color: #FFD700;
}
.dls-dark-gold {
  color: #B8860B;
}
.dls-star-bg {
  background-repeat: no-repeat;
}

.dls-sunshine-bg {
  background: linear-gradient(to bottom right, #FFFFE0, transparent 50%), linear-gradient(to bottom left, skyblue, transparent 50%);
  background-repeat: no-repeat;
}
.dls-overcast-bg {
  background: linear-gradient(to bottom right, #708090, transparent 50%);
  background-repeat: no-repeat;
}
.dls-mostly-cloudy-bg {
  background: linear-gradient(to bottom right, #A9A9A9, transparent 50%), linear-gradient(to bottom left, skyblue, transparent 25%); /* dark gray */
  background-repeat: no-repeat;
}
.dls-partly-cloudy-bg {
  background: linear-gradient(to bottom right, #D3D3D3, transparent 50%), linear-gradient(to bottom left, skyblue, transparent 50%); /* light gray */
  background-repeat: no-repeat;
}

.shine {
  --backgroundColor: #eee;
  --shimmerColor: rgba(0,0,0,0.2);
  --duration: 1200ms;

  background: var(--backgroundColor);
  background-image: linear-gradient(to right, var(--backgroundColor) 0%, var(--shimmerColor) 20%, var(--backgroundColor) 40%, var(--backgroundColor) 100%);
  background-repeat: no-repeat;
  background-size: 1000px 100%;
  display: inline-block;
  position: absolute; 
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  animation-duration: var(--duration);
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeholderShimmer;
  animation-timing-function: linear;
  z-index: 1000;
  overflow: hidden;
  /* -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards; 
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeholderShimmer;
  -webkit-animation-timing-function: linear; */
}
@keyframes placeholderShimmer {
  0% {
    background-position: -1000px 0;
  }
  
  100% {
    background-position: 1000px 0; 
  }
}

*:has(.shine) {
  position: relative !important;
}

/* HEART RATE ZONE CLASSES */
.hr-zone-1-bg {
  background-color: rgba(0, 132, 255, 0.2);
}
.hr-zone-2-bg {
  background-color: rgba(0,255,0,0.2);
}
.hr-zone-3-bg {
  background-color: rgba(255, 251, 0, 0.1);
}
.hr-zone-4-bg {
  background-color: rgba(255, 115, 0, 0.1);
}
.hr-zone-5-bg {
  background-color: rgba(255,0,0,0.2);
}

.hr-zone-1-bg-strong {
  background-color: rgba(0, 132, 255, 0.5);
}
.hr-zone-2-bg-strong {
  background-color: rgba(0,255,0,0.5);
}
.hr-zone-3-bg-strong {
  background-color: rgba(255, 251, 0, 0.5);
}
.hr-zone-4-bg-strong {
  background-color: rgba(255, 115, 0, 0.5);
}
.hr-zone-5-bg-strong {
  background-color: rgba(255,0,0,0.5);
}

.hr-zone-1-text {
  color: rgba(0, 132, 255, 1);
}
.hr-zone-2-text {
  color: rgba(0,255,0,1);
}
.hr-zone-3-text {
  color: rgba(255, 251, 0, 1);
}
.hr-zone-4-text {
  color: rgba(255, 115, 0, 1);
}
.hr-zone-5-text {
  color: rgba(255,0,0,1);
}
/* END HEART RATE ZONE CLASSES */

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  padding: 0.5rem 0.5rem;
  text-decoration: none;
  color: blue;
  font-weight: bold;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
}

/* Active/current link */
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
