body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-center {
  text-align: center;;
}

.margin-t {
  margin-top: 1rem;
}
.margin-tb {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.margin-b {
  margin-bottom: 1rem;
}
.pad {
  padding: 1rem;
}
.pad-t {
  padding-top: 1rem;
}
.pad-tb {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.pad-b {
  margin-bottom: 1rem;
}

.fullwidth {
  width: 100%;
}
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;;
}
.flex-justify-between {
  justify-content: space-between;
}