  @import "../assets/theme.module.scss";

  .side-nav {
    margin: 0;
    padding: 0;
    width: 200px;
    position: fixed;
    height: 100%;
    overflow: auto;
  }

  .link {
    color: var(--color-text);
    display: block;
    padding: 0.5rem 0.5rem;
    text-decoration: none;
    text-decoration: none;
    display: block;

    @include hover-effect;
    &.router-link-exact-active {
      @include hovered();
    }
  }