:root {
  --breakpoint-xs: 0px;
  --breakpoint-sm: 600px;
  --breakpoint-md: 960px;
  --breakpoint-lg: 1280px;
  --breakpoint-xl: 1920px;
  --space-unit: 1rem;
  --color-background: #d5dadc;
  --color-foreground: #fafaf8;
  --color-text: #333333;
  --box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  --dls-blue: #0000ff;
  --dls-blue-darker: color-mix(in srgb, var(--dls-blue) 70%, black);
  --box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  --hrZone1: rgba(0, 132, 255, 1);
  --hrZone2: rgba(0,255,0, 1);
  --hrZone3: rgba(255, 251, 0, 1);
  --hrZone4: rgba(255, 115, 0, 1);
  --hrZone5: rgba(255,0,0, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #2e353b;
    --color-foreground: #0e0e0e;
    --box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
    --color-text: #ffffff;
    --color-primary: #007acc;
    --color-secondary: #d7ba7d;
    --color-accent: #ffcc00;
    --dls-blue: #29a5f9;
  }
}